extends layout

block content
  h3(class='p-2 text-center') Список частот
  div(class='container-fluid mt-3')
    div(class='row')
      div(class='col-1 font-weight-bold') #
      div(class='col font-weight-bold') Имя
      div(class='col font-weight-bold') Описание
      div(class='col font-weight-bold') Начальная
      div(class='col font-weight-bold') Конечная
      div(class='col font-weight-bold') Дата создания
      div(class='col font-weight-bold') Дата обновления
      div(class='col')

    form(action='/freq', method='post')
      div(class='row p-2')
        div(class='col-1')
          input(name='id', class='form-control', disabled)
        div(class='col')
          input(name='name', class='form-control')
        div(class='col')
          input(name='desciption', class='form-control')
        div(class='col')
          input(name='start', class='form-control')
        div(class='col')
          input(name='end', class='form-control')
        div(class='col')
          input(name='createdAt', class='form-control', disabled)
        div(class='col')
          input(name='updatedAt', class='form-control', disabled)
        div(class='col')
          button(type='submit', class='btn btn-primary') Добавить

    each item in items
      div(class='row p-2')
        div(class='col-1') #{item.id}
        div(class='col') #{item.Name}
        div(class='col') #{item.Desciption}
        div(class='col') #{item.Start / Math.pow(10,9)}
        div(class='col') #{item.End / Math.pow(10,9)}
        div(class='col') #{item.createdAt}
        div(class='col') #{item.updatedAt}
        div(class='col')
          form(action='/freq/' + item.id + '/delete', method='post')
            a(class='btn btn-outline-primary', href='/freq/' + item.id) Edit
            button(type='submit', class='btn btn-outline-danger') Delete
    else
      div(class='row')
        div(class='col text-center p-2') No Data 
