extends layout

block content
  //h3(class='p-2 bg-primary text-white text-center') Список мест
  h3(class='p-2 text-center') Список мест
  div(class='container-fluid mt-3')
    div(class='row')
      div(class='col-1 font-weight-bold') #
      div(class='col font-weight-bold') Имя
      div(class='col font-weight-bold') Описание
      div(class='col font-weight-bold') Дата создания
      div(class='col font-weight-bold') Дата обновления
      div(class='col')

    form(action='/place', method='post')
      div(class='row p-2')
        div(class='col-1')
          input(name='id', class='form-control', disabled)
        div(class='col')
          input(name='name', class='form-control')
        div(class='col')
          input(name='desciption', class='form-control')
        div(class='col')
          input(name='createdAt', class='form-control', disabled)
        div(class='col')
          input(name='updatedAt', class='form-control', disabled)
        div(class='col')
          button(type='submit', class='btn btn-primary') Добавить

    each place in places
      div(class='row p-2')
        div(class='col-1') #{place.id}
        div(class='col') #{place.Name}
        div(class='col') #{place.Desciption}
        div(class='col') #{place.createdAt}
        div(class='col') #{place.updatedAt}
        div(class='col')
          form(action='/place/' + place.id + '/delete', method='post')
            a(class='btn btn-outline-primary', href='/place/' + place.id) Edit
            button(type='submit', class='btn btn-outline-danger') Delete
    else
      div(class='row')
        div(class='col text-center p-2') No Data 
