extends layout

block content
  h3(class='p-2 text-center') Список моделей приемников
  div(class='container')
    div(class='row')
      div(class='col-1 font-weight-bold') #
      div(class='col font-weight-bold') Имя
      div(class='col font-weight-bold') Описание
      div(class='col font-weight-bold') Дата создания
      div(class='col font-weight-bold') Дата обновления
      div(class='col')

    form(action='/recv', method='post')
      div(class='row p-2')
        div(class='col-1')
          input(name='id', class='form-control form-control-sm', disabled)
        div(class='col')
          input(name='name', class='form-control form-control-sm')
        div(class='col')
          input(name='desciption', class='form-control form-control-sm')
        div(class='col')
          input(name='createdAt', class='form-control form-control-sm', disabled)
        div(class='col')
          input(name='updatedAt', class='form-control form-control-sm', disabled)
        div(class='col')
          button(type='submit', class='btn btn-outline-success btn-sm') Добавить

    each item, index in items
      div(class='row p-2')
        div(class='col-1') #{index}
        div(class='col') #{item.Name}
        div(class='col') #{item.Desciption}
        div(class='col') #{item.createdAt}
        div(class='col') #{item.updatedAt}
        div(class='col')
          form(action='/recv/' + item.id + '/delete', method='post')
            div(class='form-group row')
              a(class='btn btn-outline-warning btn-sm', href='/recv/' + item.id) Edit
              div() &nbsp
              button(type='submit', class='btn btn-outline-danger btn-sm') Delete
    else
      div(class='row')
        div(class='col text-center p-2') No Data 
