extends layout

block content
  //h3(class='p-2 bg-primary text-white text-center') Список мест
  h3(class='p-2 text-center') Список пользователей
  div(class='container-fluid mt-3')
    div(class='row')
      div(class='col-1 font-weight-bold') #
      div(class='col font-weight-bold') Имя пользователя
      div(class='col font-weight-bold') Пароль
      div(class='col font-weight-bold') Имейл
      div(class='col font-weight-bold') Описание
      div(class='col font-weight-bold') Дата создания
      div(class='col font-weight-bold') Дата обновления
      div(class='col')

    form(action='/user', method='post')
      div(class='row p-2')
        div(class='col-1')
          input(name='id', class='form-control', disabled)
        div(class='col')
          input(name='username', class='form-control')
        div(class='col')
          input(name='password', class='form-control')
        div(class='col')
          input(name='email', class='form-control')
        div(class='col')
          input(name='desciption', class='form-control')
        div(class='col')
          input(name='createdAt', class='form-control', disabled)
        div(class='col')
          input(name='updatedAt', class='form-control', disabled)
        div(class='col')
          button(type='submit', class='btn btn-primary') Добавить

    each user in items
      div(class='row p-2')
        div(class='col-1') #{user.id}
        div(class='col') #{user.Username}
        div(class='col') #{user.Password}
        div(class='col') #{user.Email}
        div(class='col') #{user.Desciption}
        div(class='col') #{user.createdAt}
        div(class='col') #{user.updatedAt}
        div(class='col')
          form(action='/user/' + user.id + '/delete', method='post')
            a(class='btn btn-outline-primary', href='/user/' + user.id) Edit
            button(type='submit', class='btn btn-outline-danger') Delete
    else
      div(class='row')
        div(class='col text-center p-2') No Data 
